head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="chrome=1")

  link(rel="stylesheet" href="stylesheets/styles.css")
  link(rel="stylesheet" href="stylesheets/pygment_trac.css")
  link(rel="stylesheet" href="stylesheets/collapsable.css")

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

title US Census Archive by delgadom
body!= body
  include index.jade
